<h1
  style="text-align: center; border-style: dashed; border-color: blueviolet"
  class="display-2"
>
  List of registered users
</h1>

<ul
  style="margin: 20px; border-color: purple; border-style: double"
  *ngFor="let u of users; index as i"
  class="list-group list-group-flush"
>
  <li class="list-group-item">
    <span>Name: {{ u.name }}</span> <span> Age: {{ u.age }}</span>
    <br />
    <button
      type="button"
      style="margin-left: 90%; color: red; background-color: red"
      (click)="deleteRow(u,i)"
      class="btn-close"
      aria-label="Close"
    ></button>
  </li>
</ul>
