<nav class="navbar cat" style="background-color: #437fc7; color: white">
  <div class=" container-sm globalStyle" style="width: 800px;">
    <a routerLink="login" href="#">
      <h2>PENSION PORTAL</h2></a
    >



  <!-- *ngIf = "userIsAuth" -->
<li>
  <a

    class="navbar-brand"
    routerLink="Pension"
    href="#"
    >Person List</a
  ></li>
  <li>
    <!-- *ngIf = "userIsAuth" -->
  <a  
    class="navbar-brand"
    routerLink="SearchPage"
    href="#"
    >Pension</a
  >
  
</li>

  <li>
  <a
  *ngIf = "!userIsAuth"
  class="navbar-brand"
  routerLink="SignUp"
  href="#"
  >SIGN UP</a
>
</li>
<ul  style="margin-top: 20px;" >
<li>
  <a
  *ngIf = "userIsAuth"
  class="navbar-brand inline"
  style="color: #ffff00ad;"
  >LOGGEDIN</a
>
</li>
  <li *ngIf = "userIsAuth">
    <button type="button"
    
    class="btn btn-light inline"
    (click)="onlogout()">
    LOGOUT</button>
  </li>
</ul>
</div>


</nav>
