<nav class="navbar " style="background-color: #437fc7; color: white">
  <div class=" container-sm globalStyle" style="width: 800px;">
    <a routerLink="login" href="#">
      <h2>PENSION PORTAL</h2></a
    >



<ul>
<li>
  <a
    class="navbar-brand"
    routerLink="Pension"
    href="#"
    >Pension Page</a
  ></li>
  <!-- <li>
  <a  *ngIf = "userIsAuth"
    class="navbar-brand"
    routerLink="SearchPage"
    href="#"
    >Search Page</a
  >
</li> -->
  <li>
  <a
  *ngIf = "!userIsAuth"
  class="navbar-brand"
  routerLink="SignUp"
  href="#"
  >SIGN UP</a
>
</li>
<li>
  <a
  *ngIf = "userIsAuth"
  class="navbar-brand"
  style="color: #ffff00ad;"
  >LOGGEDIN</a
>
</li>
  <li *ngIf = "userIsAuth">
    <button type="button"
    style="margin-top: 20px;"
    class="btn btn-light"
    (click)="onlogout()">
    LOGOUT</button>
  </li>
</ul>
</div>


</nav>
