<nav class="navbar" style="background-color: #437fc7">
  <div class="container-sm globalStyle">
    <a style="color: white; margin: auto" routerLink="" href="#">
      <h2>Pensioner Portal</h2></a
    >
  </div>
</nav>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a
    class="navbar-brand"
    style="color: #3a2fd4; margin: auto"
    routerLink="Pension"
    href="#"
    >Pension Page</a
  >
  <a
    class="navbar-brand"
    style="color: #3a2fd4; margin: auto"
    routerLink="SearchPage"
    href="#"
    >Search Page</a
  >
</nav>
