<div class="container-sm globalStyle">

  <div class="card cardStyle">
    <div class="card-header">
      <h2 style="text-align: center; margin-top: 10px">SIGN UP</h2>
    </div>
    <form class="formStyle" (submit)="onSignUp(SignUpForm)" #SignUpForm="ngForm">
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" name="email" ngModel #emailInput="ngModel" required email />
        <label class="labelStyle" *ngIf="emailInput.invalid && emailInput.touched">
          Please enter a valid email</label>
      </div>
      <div>
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" #passwordInput="ngModel" ngModel required />
        <label class="labelStyle" *ngIf="passwordInput.invalid && passwordInput.touched">
          Please enter a valid password</label>
      </div>

      <button type="submit" class="btn btn-primary" style="margin-top: 20px" (click)="FadeOut()">
        Sign Up
      </button>
    </form>
  </div>
  <!-- /////////////////ERROR STATUS////////////////////////////////// -->
  <div [ngClass]="FadeOutEffect" class="card border-danger" style="margin-top: 40px" *ngIf="this.emailexists == 409">
    <div class="card-body text-danger">
      <h5 class="card-title">error...</h5>
      <p class="card-text">EMAIL ALREADY EXISTS</p>
    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////// -->
</div>