<div class="container-sm globalStyle" >
    <div class="card cardStyle">
      <h2 style="text-align: center; margin-top: 10px;">REGISTER PAGE</h2>
    <form class = "formStyle" (submit)="onSignUp(SignUpForm)" #SignUpForm="ngForm" >
      
        <div class="mb-3">
          
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input
            id="exampleInputEmail1"
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
            name="email"
            ngModel
            #emailInput="ngModel"
            required email
          />
          <label class="labelStyle"  *ngIf="emailInput.invalid && emailInput.touched"> Please enter a valid email</label>
  
        </div>
        <div >
          <label   for="exampleInputPassword1" class="form-label">Password</label>
          <input
            id="exampleInputPassword1"
            type="password"
            class="form-control"
            name="password"
            #passwordInput="ngModel"
            ngModel
            required
          />
          <label  class="labelStyle"  *ngIf="passwordInput.invalid && passwordInput.touched"> Please enter a valid password</label>
        </div>
  
        <button type="submit" class="btn btn-primary" style="margin-top: 20px">Sign Up</button>
      </form>
    </div>
  </div>
  
