/* table {   
    counter-reset: rowNumber;
    }
    table th {
     counter-increment: rowNumber;
    }
    table tr td:first-child::before {   
    content: counter(rowNumber);   
    min-width: 1em;   
    margin-right: 0.5em;
    } */
table {
    /* background-color: #d8eafc ; */
    counter-reset: row-num -1;

  }
  table tr{
    counter-increment: row-num;
    
    
  }
th{
  background-color: #81bcf7 ;
}
  table th:first-child::before {
   
      font-style:italic;
      content: counter(row-num) ". ";
  }

