<div class="container-sm globalStyle">

  <table class="table table-striped table-bordered table-responsive">
    <caption>Pensioner details list</caption>
    <thead class="tablelayout">
      <tr>
        <td>#</td>
        <th scope="col">Aadhaar</th>
        <th scope="col">Name</th>
        <th scope="col">DOB</th>
        <th scope="col">PAN</th>
        <th scope="col">Salary</th>
        <th scope="col">Allowances</th>
        <th scope="col">Pension Type</th>
        <th scope="col">Bank</th>
        <th scope="col">Bank No</th>
        <th scope="col">Bank Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pen of pensionerService.pensioners">
        <th scope="row"></th>
        <td>{{ pen.aadhaar }}</td>
        <td>{{ pen.Name }}</td>
        <td>{{ pen.Date_of_birth }}</td>
        <td>{{ pen.PAN }}</td>
        <td>{{ pen.SalaryEarned }}</td>
        <td>{{ pen.Allowances }}</td>
        <td>{{ pen.Self_or_Family_pension }}</td>
        <td>{{ pen.Bank_Name }}</td>
        <td>{{ pen.Bank_Acc_No }}</td>
        <td>{{ pen.Public_Private_Bank }}</td>
      </tr>
    </tbody>
  </table>
</div>