<div class="container-sm globalStyle">
  <form class="row g-3" style="margin-top: 50px; margin-bottom: 50px">
    <div class="col-auto">
      <span
        class="input-group-text"
        id="basic-addon1"
        style="color: #437fc7; font-weight: bold"
        >Aadhaar Number</span
      >
    </div>
    <div class="col-auto">
      <input
        type="text"
        placeholder="Enter number"
        #AadhaarNum
        class="form-control"
      />
    </div>
    <div class="col-auto">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="getPensionANDDETAILS(AadhaarNum.value)"
      >
        SEARCH
      </button>
    </div>
  </form>

  
<!-- /////////////////ERROR STATUS////////////////////////////////// -->
  <!-- cant find aadhaar filter by status code -->
    <div class="card border-danger "*ngIf="(cantfindID==404)">
      <div class="card-body text-danger">
        <h5 class="card-title">Not Found...</h5>
        <p class="card-text">Enter valid Aadhaar ID</p>
      </div>
    </div>
<!-- ////////////////////////////////////////////////////////////// -->


  <body *ngIf="(searchService.pensioners.length == 1)"> 
    <div class="card " >
      <div
        class="card-body"
        style="padding: 60px"
        *ngFor="let pen of searchService.pensioners"
      >
        <h4>
          <strong>Pensioner</strong>
          {{ pen.Name }}
        </h4>

        <table
          class="table table-bordered"
          style="background-color: white; padding: 40px"
        >
          <tbody>
            <tr>
              <th>Aadhaar</th>
              <td>{{ pen.aadhaar }}</td>
            </tr>
            <tr>
              <th>DOB</th>
              <td>{{ pen.Date_of_birth }}</td>
            </tr>
            <tr>
              <th>PAN</th>
              <td>{{ pen.PAN }}</td>
            </tr>
            <tr>
              <th>Salary</th>
              <td>{{ pen.SalaryEarned }}</td>
            </tr>
            <tr>
              <th>Allowances</th>
              <td>{{ pen.Allowances }}</td>
            </tr>
            <tr>
              <th>Pension Type</th>
              <td>{{ pen.Self_or_Family_pension }}</td>
            </tr>
            <tr>
              <th>Bank</th>
              <td>{{ pen.Bank_Name }}</td>
            </tr>
            <tr>
              <th>Bank Number</th>
              <td>{{ pen.Bank_Acc_No }}</td>
            </tr>
            <tr>
              <th>Bank Type</th>
              <td>{{ pen.Public_Private_Bank }}</td>
            </tr>
          </tbody>
        </table>

        <div class="col-auto">
          <button
            type="button"
            style="margin-top: 10px; background-color: pink; float: right;"
            class="btn btn-outline-primary"
             routerLink="/Edit/{{ pen.aadhaar }}"
  
          >
            EDIT
          </button>
        </div>

      </div>
    </div>

    <!-- 

  /////////////////Pension//////////////////////////////// -->

    <div
      class="card"
      style="margin-top: 40px;
      margin-bottom: 40px"
    >
      <div
        class="card-body"
        style="padding: 40px;"
        *ngFor="let pen of searchService.pensioners"
      >
        <table class="table table-bordered" style="background-color: white">
          <tbody>
            <tr>
              <th scope="col-auto">Pension Amount</th>
              <th scope="col-auto">BANK FEE</th>
            </tr>
            <tr>
              <td>{{ pen.pensionAmount }}</td>
              <td>{{ pen.Bankfee }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</div>

