<div class="row" style ="background-color: #FFFFFF; height:100vh;">
  <div class="container-sm  rounded containerStyle">
    <form style="margin: 80px;">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label" >Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>

      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
  </div>
</div>

<!-- <div class="container text-center">
    <div class="row">
      <div class="col">
        Column
      </div>
      <div class="col">
        Column1
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div> -->
