/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;

  background-image: url("assets/PinkBG.jpg");
}
/* //linear-gradient(to bottom, transparent, #3b8aeb90), */
.card{
  background-color: rgb(255, 255, 255);
 
}
nav,
footer {
  background-image: url("assets/wepik-photo-mode-20221030-154211.png");
  background-color: transparent;
}


.globalStyle {
  width: 40%;
  min-width: fit-content;

  min-height: 100%;
}


.fade-out-text{

  animation: fadeOut 5s forwards;
} 
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}