/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

.globalStyle {
  width: 30%;
  min-width: fit-content;
  min-height: 100%;
}
