
  <footer class="text-center text-white " >
    <div class="container p-4 pb-0">
 
          <span class="me-3">Register for free</span>
          <button type="button"  
           routerLink="SignUp"
          href="#"
          class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
      
  
    </div>

    <div class="text-center p-3" >
      <a href="https://www.freepik.com/free-photo/pastel-pink-oil-paint-textured-background_16015317.htm#query=pink%20background&position=11&from_view=keyword">
        Image by rawpixel.com</a> on Freepik
 
    </div>
  </footer>

