

th, td {
    padding: 5px;
    text-align: left;
   
  }
  table{
    margin-bottom: 0;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th{
    color:  #437fc7;
  }
  h4 strong {
    display: block;
    font-size: 70%;
    opacity: 0.55;
    margin-bottom: 10px
  }
  h4{
    margin-bottom: 20px
  }


.fade-out-text{

  animation: fadeOut 5s forwards;
} 
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

