<div class="container-sm globalStyle">
  <body>
    <div
      class="card"
      style="background-color: #d8eafc; border-radius: 25px; margin-top: 20px"
    >
      <div
        class="card-body"
        style="padding: 40px"
        *ngFor="let pen of editService.pensioners"
      >
        <h4>
          <strong>Pensioner</strong>
          {{ pen.Name }}
        </h4>
        <form class="formStyle" (submit)="onEdit(editForm)" #editForm="ngForm">
          <table
            class="table table-bordered"
            style="background-color: white; padding: 40px"
          >
            <tbody>
              <tr>
                <th>
                  <label for="DOB">DOB</label>
                </th>
                <td>
                  <input
                    type="date"
                    id="DOB"
                    name="Date_of_birth"
                    [(ngModel)]="pen.Date_of_birth"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="PAN">PAN</label>
                </th>
                <td>
                  <input
                    type="text"
                    id="PAN"
                    name="PAN"
                    maxlength="6"
                    minlength="6"
                    [(ngModel)]="pen.PAN"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="Salary">Salary</label>
                </th>
                <td>
                  <input
                    type="number"
                    name="SalaryEarned"
                    maxlength="5"
                    minlength="5"
                    [(ngModel)]="pen.SalaryEarned"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="Allowances">Allowances</label>
                </th>
                <td>
                  <input
                    type="number"
                    id="Allowances"
                    name="Allowances"
                    maxlength="3"
                    minlength="3"
                    [(ngModel)]="pen.Allowances"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="Pension Type">Pension Type</label>
                </th>
                <td>
                  <select
                    class="form-control"
                    id="Pension Type"
                    name="Self_or_Family_pension"
                    [(ngModel)]="pen.Self_or_Family_pension"
                  >
                    <!-- <option>{{ pen.Self_or_Family_pension }}</option> -->
                    <option>FAMILY</option>
                    <option>SELF</option>
                  </select>
                </td>
              </tr>

              <tr>
                <th>
                  <label for="Bank">Bank Name</label>
                </th>
                <td>
                  <select
                    class="form-control"
                    id="Bank"
                    name="Bank_Name"
                    [(ngModel)]="pen.Bank_Name"
                  >
                    <option>AIB</option>
                    <option>BOI</option>
                    <option>TSB</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th>
                  <label for="Bank No">Bank No</label>
                </th>
                <td>
                  <input
                    type="number"
                    id="Bank No"
                    name="Bank_Acc_No"
                    maxlength="8"
                    minlength="8"
                    [(ngModel)]="pen.Bank_Acc_No"
                  />
                </td>
              </tr>
              <tr>
                <th>
                  <label for="Bank Type">Bank Type</label>
                </th>
                <td>
                  <select
                    class="form-control"
                    id="Bank Type"
                    name="Public_Private_Bank"
                    [(ngModel)]="pen.Public_Private_Bank"
                  >
                    <option>PUBLIC</option>
                    <option>PRIVATE</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-auto">
            <button
              type="submit"
              style="margin-top: 10px; background-color: pink; float: right"
              class="btn btn-outline-primary"
              (click)="FadeOut()"
            >
              Update
            </button>

            <button
            type="button"
            style="margin-top: 10px; background-color: pink; float: left"
            class="btn btn-outline-primary"
            routerLink="/SearchPage"> Back
          </button>
            
          </div>
        </form>
      </div>
    </div>
    <!-- /////////////////Updated success header////////////////////////// -->

    <div
      class="card border-primary mb-3"
      [ngClass]="FadeOutEffect"
      *ngIf="statusCode == 200 "
      style="margin-top: 10px"
    >
      <div class="card-body text-primary">
        <h5 class="card-title" style="text-align: center">UPDATED!</h5>
      </div>
    </div>
    <!-- /////////////////NO CHANGES MADE HEADER////////////////////////////////// -->
    <div
      class="card border-danger mb-3"
      [ngClass]="FadeOutEffect"
      *ngIf="statusCode == 400 "
      style="margin-top: 10px"
    >
      <div class="card-body text-danger">
        <h5 class="card-title" style="text-align: center">NOT UPDATED!</h5>
        <p class="card-title" style="text-align: center">No changes made.</p>
      </div>
    </div>

    <!-- ///////////////////////////////////////////////// -->
  </body>
</div>
